@import url('https://fonts.googleapis.com/css?family=Chango');
@keyframes opasityAnim {
    from {opacity: 0;}
    to {opacity: 1;}
}
html {
    min-height: 100%;
    font-family: Helvetica, Arial, sans-serif;
}
body {
    background-image: url("../images/bg.1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}
nav {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    animation-name: opasityAnim;
    animation-duration: 0.4s;
}
nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 303px;
    margin-top: 123px;
}
nav::after {
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    filter: blur(7px);
    background-image: url(../images/bg.1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
nav ul li {
    display: inline;
    list-style-type: none;
}
nav ul li a {
    font-size: 18px;
    text-decoration: none;
    color: silver;
}
nav ul li a:hover {
    color: white;
}
.menuButton {
    position: absolute;
    top: 3%;
    left: 5%;
}
.pageName {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 19px;
    margin: 16px;
}
header {
    display: flex;
    align-items: center;
    flex-direction: column;
    animation-name: opasityAnim;
    animation-duration: 0.4s;
}
.logo {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    margin: 20px 0px 55px;
}
.logo div:nth-child(1) {
    color: rgb(247, 246, 246);
    font-family: Chango, serif;
    font-size: 31px;
}
.logo div:nth-child(2) {
    color: rgb(255, 255, 255);
    font-size: 16px;
    letter-spacing: 20px;
    margin: 12px 0px 0px 26px;
}
.circlelogo {
    width: 32%;
    margin-top: 34px;
}
form {
    width: 100%;
}
input {
    border: 0px;
    color: white;
    font-size: 40px;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    color: rgb(214, 214, 214);
    font-size: 14px;
    line-height: 1.3;
    animation-name: opasityAnim;
    animation-duration: 0.4s;
}
input[type="text"], input[type="password"] {
    background: none;
    width: 100%;
    height: 100%;
}
input::placeholder {
    color: #4C4A77;
}
input[type="submit"] {
    background-color: #4DD7FA;
    width: 100%;
    padding: 21px;
    margin-top: 82px;
    cursor: pointer;
    letter-spacing: 8px;
    color: rgb(255, 255, 255);
    font-size: 23px;
}
footer a {
    font-size: 18px;
    text-decoration: none;
    color: silver;
    margin: 15px;
    display: inline-block;
}
footer a:nth-child(2) {
    color: white;
}
.opasityCont {
    border-bottom: 2.5px solid black;
    align-items: center;
    position: relative;
    display: flex;
}
.opasityCont img {
    opacity: 0.62;
    width: 37px;
    margin: 10px 15px 10px 11px;
}
.opasityCont img[src="images/pass.svg"] {
    height: 45px;
}
.opasityCont::after {
    content: "";
    background-color: black;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
.opasityCont div {
    height: 72px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.hide {
    display: none;
}