@import url('https://fonts.googleapis.com/css?family=Chango');
hr {
    border: none;
    width: 65%;
    background-color: #4DD7FA;
    height: 3px;
    border-radius: 2px;
}
.menu li {
    display: inline;
    list-style-type: none;
}
.menu li a {
    text-decoration: none;
    color: silver;
}
.menu li a:hover {
    color: gray;
}
body {
    background-image: url("../images/bg.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    color: white;
    background-size: cover;
}
.companyName {
    font-family: 'Chango', cursive;
}
input, textarea {
    border: 0px;
    color: white;
}
input[type="submit"] {
    background-color: #4DD7FA;
}
input[type="text"], input[type="email"], textarea {
    background: none;
    border-bottom: 2px solid black;
}